<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<style>

    * {

box-sizing: border-box;}

body {
background:#EED6C4;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
</style>
<body>

<form action="perform_login" method="post">
    <fieldset>
        <legend>Login</legend>
        <label for="username">User Name</label>
        <input id="username" name="username" type="text">

        <label for="password">Password</label>
        <input id="password" name="password" type="password">

        <button type="submit">login</button>
    </fieldset>
</form>
</body>
</html>