
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<style>

    * {

box-sizing: border-box;}

body {
background:#EED6C4;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}



button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 20%;
}

</style>
<body>
<div>
    <button><a href="/signup">Sign Up</a></button>
    <button><a href="/login">Log In</a></button>
</div>


</body>
</html>